<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fitivity"
      android:versionCode="6"
      android:versionName="1.5">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" android:maxSdkVersion="15" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="SplashScreenActivity"
    			  android:theme="@android:style/Theme.NoTitleBar"
    			  android:screenOrientation="portrait">
    			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			   <action android:name="android.intent.action.SEND" />
			   <category android:name="android.intent.category.DEFAULT" />
			   <data android:mimeType="image/*" />
			</intent-filter>
        </activity>
        
        <activity android:name="MapViewActivity"
    			  android:theme="@android:style/Theme.NoTitleBar"
    			  android:screenOrientation="portrait">	  
        </activity>
         <activity android:name="LoginActivity"
         		  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="SignUpActivity"
         		  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="TabBarActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="FeedActivity">
        </activity>
        
        <activity android:name="CreateActivityActivity"
        		  android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name="ProfileActivity">
        </activity>
        <activity android:name="GenericProfileActivity">
        </activity>
        <activity android:name="SettingsActivity"
        	android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="LocationsActivity"
        		   android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="ChooseFitivityActivity">
            
        </activity>
         <activity android:name="SampleActivity"
         android:screenOrientation="portrait"
         android:theme="@android:style/Theme.NoTitleBar">
        </activity>
         <activity android:name="GroupActivity"
         android:screenOrientation="portrait"
         android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ProposedActivityActivity"
        android:screenOrientation="portrait"
         android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ActivitySelectedActivity"
         android:screenOrientation="portrait"
         android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="GroupMembersActivity"
         android:screenOrientation="portrait"
         android:theme="@android:style/Theme.NoTitleBar">
        </activity>
		<service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
  				<intent-filter>
    				<action android:name="android.intent.action.BOOT_COMPLETED" />
    				<action android:name="android.intent.action.USER_PRESENT" />
  				</intent-filter>
		</receiver>
		<uses-library android:name="com.google.android.maps"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>